.wrapper{
  display: flex;
}



.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side_bar_header{
  height: 100px;
    padding: 0px 20px;
}

.rooms{
  height: calc( 100vh - 100px );
  background-color: #2F3E51;
  padding: 0px 20px;
}




.chat{
  height: 100vh;
  width: calc( 100vw - 300px );
  background-color: #ffffff;
}

.chat_header{
  height: 100px;
  padding: 0px 40px;
}

.messages{
  height: calc( 100vh - 100px - 90px );
  background-color: #fafafa;
  padding-top: 46px 40px 0;
}

.form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}